@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block px-3 py-2 rounded-full focus:outline-none focus:ring text-white
            focus:ring-offset-2 tracking-wider font-lato font-medium text-sm sm:text-base;
  }
  .btn-primary {
    @apply bg-white text-black border border-gray-500 hover:bg-gray-300 focus:ring-gray-500 focus:ring-opacity-50 
   active:bg-gray-400;
  }

  .btn-secondary {
    @apply bg-gray-500 hover:bg-gray-700 active:bg-gray-400;
  }

  .btn-secondary:active,
  .btn-secondary:focus{
    outline: none;
  }

  .btn-login{
    background-color: rgb(107 114 128);
    border: none;
    font-family: "Lato", sans-serif;
   }

  .btn-login:hover{
    background-color:  #4A5568;
  }

  .hide-footer{
    display: none;
  }

  .header-title{
    font-family: "Lato", sans-serif;
  }

  .header-subtitle{
    font-family: "Lato", sans-serif;
  }

  .email-form-field{
    font-family: "Lato", sans-serif;
  }

  .divider-text{
    font-family: "Lato", sans-serif;
  }
}

/*body {
  background-color: rgb(229, 233, 241);
} */
